a
{text-decoration-skip-ink:none}

.msocomtxt,
.iss_disk_only
{display:none}

* a:not([href]),
* a:not([href]):hover
{color:inherit;text-decoration:inherit}

* a:not([href]):focus,
a.bookmark:focus
{outline:0}

pre
{font-family:Courier New, Courier, monospace}

.iss_sch_hl,
mark
{background-color:cyan;color:inherit}

.iss_sch_hl.active,
mark.active
{background-color:yellow!important}

#w_share,
#w_webpush
{margin:12px 0!important;padding:12px 20px!important;border-top:2pt #d7d7d7 solid;border-bottom:2pt #d7d7d7 solid}

#w_webpush
{display:none}

#w_webpush #webpush_button
{background-image:url('/img/template/button-bcg-grey.gif');background-position:bottom;background-repeat:repeat-x;height:20px;border:1px solid #a0a0a0;color:#404040;font-family:Verdana,Tahoma,sans-serif;font-size:12px;width:auto!important}

@media print { #w_share, #w_webpush {display:none} }

img.enlargeble
{
	max-width: 100%;
	height: auto;
	cursor: zoom-in;
	transition: max-width 600ms ease;
	touch-action:manipulation;
}

img.enlargeble.enlarged
{
	max-width: none;
	cursor: zoom-out;
}

a,
input,
select,
textarea,
button,
.btn
{touch-action:manipulation}

@media (hover: none) {
	html {
		overflow-y: scroll;
	}
	body::-webkit-scrollbar {
		background-color: #e7e7e7;
	}
	body::-webkit-scrollbar:vertical {
		box-shadow: inset 3px 0 #fff, inset -3px 0 #fff;
		width: 10px;
	}
	body::-webkit-scrollbar:horizontal {
		box-shadow: inset 0 3px #fff, inset 0 -3px #fff;
		height: 10px;
	}
	body::-webkit-scrollbar-thumb {
		background-color: #bbbbbb;
		border-radius: 4px;
		min-width: 66px;
		min-height: 66px;
	}
	body::-webkit-scrollbar-thumb:vertical {
		box-shadow: inset 3px 0 #fff, inset -3px 0 #fff;
	}
	body::-webkit-scrollbar-thumb:horizontal {
		box-shadow: inset 0 3px #fff, inset 0 -3px #fff;
	}
	body::-webkit-scrollbar-corner {
		display: none;
	}
	body::-webkit-resizer {
		display: none;
	}
	body::-webkit-scrollbar-button {
		display: none;
	}
}
