/* CSS Document */

* {
	margin:0; padding:0;
	font-size:100%;
}

body 
{
	background:url(../images/bg.gif.ashx) repeat 0 0;
	min-width:1000px;
	overflow-y:scroll;
}

body div.body_c 
{
	text-align:center;
	width:1003px;
	margin:0 auto;
	padding:7px 0 7px 0;
}

/* Fall */
body.fall {	background:#CD4D00 url($AX$Fall.bg.jpg.ashx) repeat-x scroll left top;}
body.fall div.body_l { background:transparent url($AX$Fall.bg-left.jpg.ashx) no-repeat scroll left top;}
body.fall div.body_r { background:transparent url($AX$Fall.bg-right.jpg.ashx) no-repeat scroll right top;}

/* Winter */
body.winter {	background:#4399d1 url($AX$Winter.bg.jpg.ashx) repeat-x scroll left top;}
body.winter div.body_l { background:transparent url($AX$Winter.bg-left.jpg.ashx) no-repeat scroll left top;}
body.winter div.body_r { background:transparent url($AX$Winter.bg-right.jpg.ashx) no-repeat scroll right top;}

img {vertical-align:top;}
a img { border:0;}

ul { list-style:none;}
ul.indent {padding:25px 0 0 30px;}

.left { float:left;}
.right {float:right;}
.clear  { clear:both;}

.solid {border-style:solid;}
.dotted {border-style:dotted;}

html, input, textarea
	{
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:0.8125em;
		line-height:1.23076em;
		color:#777777;
	}

input, select { vertical-align:middle; font-weight:normal; outline:none;}
strong {color:#555;}

a {color:#777777; outline:none;}
a:hover{text-decoration:none;}
p {padding-top:16px;}

.justify{text-align:justify; line-height:19px;}
.book .justify{text-align:justify; line-height:22px;}

.pad-left{padding-left:30px;}
.alignleft {text-align:left;}
.alignright {text-align:right;}
.aligncenter {text-align:center;}

/* ============================= main layout ====================== */

li { background:url(../images/marker.gif.ashx) no-repeat 0 12px; padding-left:22px; line-height:2.1538em;}
li a {color:#9ec002;}
li.green {background:url(../images/bg-notes-green.png.ashx) no-repeat scroll left 5px transparent;}
li.yellow {background:url(../images/bg-notes-yellow.png.ashx) no-repeat scroll left 5px transparent;}
li.orange {background:url(../images/bg-notes-orange.png.ashx) no-repeat scroll left 5px transparent;}
li.blue {background:url(../images/bg-notes-blue.png.ashx) no-repeat scroll left 5px transparent;}
li.green, li.yellow, li.orange, li.blue {list-style:none outside none; margin-bottom:1em; padding-left:35px; line-height:20px;}

.imgindent {margin:0 29px 0 0; float:left;}

.extra {background:#fff;}

h2, h3, h4 {font-family:Times New Roman;}
h2 {font-size:2.1em; line-height:1.2em; color:#000; padding:4px 0 22px 0;}
h2 img {margin-right:15px;}

h3 {font-size:1.85em; line-height:1.2em; color:#fff; padding:0 0 22px 0;}
h4 {font-size:2.69em; line-height:1.2em; color:#fff; padding:0 0 16px 0;}

/* ============================= header ====================== */
#header {background:#242223 url(../images/header-bg.gif.ashx) left top repeat-x;}

#logo {float:left; padding:9px 0 1px 24px; font-size:2em; line-height:2em; text-decoration:none; color:#9EC002;}
#search { color:Red; letter-spacing:1px; text-decoration:blink;}
#today {color:#7A7A7A; float:right; padding-top:3px; width:280px; text-align:right;}
#today span {padding-right:11px;} 

.black {color:#000000;}
.red {color:Red;}

.sub-menu {float:right; padding-top:9px; width:358px;}
.sub-menu ul {float:right; }
.sub-menu ul li {background:none; line-height:1.5em;}
.sub-menu a {padding-right:12px; line-height:1.5em; font-size:0.923em; text-decoration:none;}
.sub-menu a:hover {color:Gainsboro;}
.sub-menu .last {background:none;}

.menu {background:#E6E6E6 url(../images/menu-sprite.gif.ashx) left -114px repeat-x; position:absolute; top:82px; width:981px;}
.menu-left {background:url(../images/menu-sprite.gif.ashx) left top no-repeat;}
.menu-right {background:url(../images/menu-sprite.gif.ashx) right -228px no-repeat; width:100%; height:57px;}

.menu ul {float:left; width:645px;}

.menu li {float:left; line-height:1.2em; padding:0; background:url(../images/menu-sprite.gif.ashx) right -567px no-repeat; font-size:0.923em;}
.menu li a {text-decoration:none; display:block; font-weight:bold; color:#323232; padding:20px 20px 19px 22px; margin-right:1px;}
.menu li a strong {display:inline-block; background:url(../images/menu-sprite.gif.ashx) right -529px no-repeat; padding-right:10px; font-size:105%; cursor: pointer; cursor: hand;}
.menu li a.active strong, .menu li a:hover strong {background:url(../images/menu-sprite.gif.ashx) right -648px no-repeat;}
.menu li span {display:block;}

.menu .first a {padding:0 30px 0 0;}
.menu .first span {padding:22px 0 19px 32px;}

.menu li a:hover, .menu .active  {background:#F6F6F6 url(../images/menu-sprite.gif.ashx) left -456px repeat-x;}
.menu .active {color:#9EC002;}
.menu .first a:hover span, .menu .first .active span {background:url(../images/menu-sprite.gif.ashx) left -342px no-repeat;}

.images {padding-bottom:25px;}
.indent {padding:0 0 55px 0;}
.padding {padding-bottom:51px;}

.col-pad {padding-right:40px;}

/* ============================= TabStrip ====================== */
.tab { background:url(../images/tab-bottom-bg.gif.ashx) repeat-x scroll left bottom transparent; margin-bottom:29px; }
.tab ul { overflow:hidden; width:100%; }
.tab li { float:left; font-size:0.923em; font-weight:bold; line-height:1.2em; padding:0 1px 0 0; text-transform:uppercase; }

.blue .tab li a, .blue .tab li a span, .blue .tab li a span span{ background-image:url(../images/tab-blue-sprite.gif.ashx);}
.red .tab li a, .red .tab li a span, .red .tab li a span span{ background-image:url(../images/tab-red-sprite.gif.ashx); }
.tab li a, .tab li a span, .tab li a span span{ background-image:url(../images/tab-black-sprite.gif.ashx); }

.tab li a { background-position:0 0; background-repeat:no-repeat; background-color:#F0F0F0; color:#323232; cursor:pointer; display:block; text-decoration:none; }
.tab li a:hover, .tab .active { background-position:0 -264px; background-repeat:no-repeat; background-color:#292929; color:Gainsboro; }

.tab li a span { background-position:right -176px; background-repeat:no-repeat; display:block; padding:0 16px; }
.tab li a:hover span, .tab .active span { background-position:right -440px; background-repeat:no-repeat;}

.tab li a span span, .tab li a span span, .tab li a span span { background-position:0 -88px; background-repeat:repeat-x; padding:15px 0;}
.tab li a:hover span span, .tab li a.active span span { background-position:0 -352px; background-repeat:repeat-x;}

.title {color:#373737; font-weight:bold;}
.title1 {color:#fff;}
.title2 {color:#373737; font-weight:bold; font-size:1.12em;}

.link {color:#9ec002; display:inline-block; background:url(../images/link-bg.gif.ashx) left 6px no-repeat; padding-left:21px; margin-top:18px; font-weight:bold;}
.link-margin {margin-top:10px;}

.pad0 {padding-top:10px;}
.pad {padding-top:31px;}
.pad1 {padding-top:40px;}
.pad2 {padding-top:24px;}

.list-pad {padding-top:16px;}

.h-pad {padding-bottom:14px}

.border {background:url(../images/border-bg.gif.ashx) left bottom repeat-x; padding-bottom:20px; margin-bottom:6px;}

.row {background:url(../images/row-inner-bg.gif.ashx) repeat; color:#737373;}
.row .inner {background:#141414 url(../images/row-bg.gif.ashx) left top repeat-x; min-height:282px; height:auto !important; height:282px;}

.row .indent {padding:34px 0 0 0;}
.row .title {color:#fff; font-weight:normal; font-size:1.15em;}

.row .link {font-weight:normal; margin-top:0px;}
.row .link1 {color:#9ec002; display:inline-block; background:url(../images/link-bg.gif.ashx) left 6px no-repeat; padding-left:21px; margin-top:18px; font-weight:bold;}
.row a.green {color:#9EC002;}

.list li {background:url(../images/border-bottom-bg.gif.ashx) left bottom repeat-x; height:36px; padding:0; margin-bottom:5px}
.list img {float:right;}
.list li a {color:#737373; text-decoration:none;}
.list li a:hover {text-decoration:underline;}

.ul-pad {padding-bottom:18px;}

.phone {display:inline-block; width:85px;}

.adress {color:#484848;}
.adress a {color:#484848;}
.adress .phone {width:65px;}
/* ============================= footer ====================== */
#footer {background:url(../images/footer-bg.gif.ashx) left top repeat-x #050505; color:#5d5d5d; padding:12px 10px; text-align:left;}
#footer a {color:#5d5d5d; text-decoration:none;}
#footer a:hover {text-decoration:underline;}
#footer div {float:right;}
/* ============================= counters ====================== */
#counters { margin-top:7px; text-align:center;}
/* ============================= forms ============================= */
#SearchForm {float:left;  padding:12px 1px 0 0;}
#SearchForm label {background:#FFF url(../images/input-bg.gif.ashx) right top no-repeat; height:35px; display:inline-block; vertical-align:top; margin-right:-4px; padding:0;}
#SearchForm .input {width:218px; border:none; padding:8px 0px 5px 5px; font-size:1.1em;  vertical-align:top; color:#79938c; line-height:1.2em; margin:0 6px 0 3px; background:none;}

#SignUpForm {padding:5px 1px 0 0;}
#SignUpForm label {background:url(../images/input-bg1.gif.ashx) right top no-repeat; height:51px; display:inline-block; vertical-align:top; margin-right:-4px;}
#SignUpForm .input {width:210px; border:none; padding:10px 0px 5px 5px; font-size:0.923em;  vertical-align:top; color:#79938c; line-height:1.2em; margin:0 3px 0 3px; background:none;}
#SignUpForm input {vertical-align:top;}
#SignUpForm a {color:#737373;}

#ContactForm {padding-top:20px;}
#ContactForm .link {margin:23px 5px 0 20px;}
#ContactForm label {height:34px; display:block;}
#ContactForm .input {width:315px; border:1px solid #bfbfbf; background:none; padding:3px 0 3px 5px; font-size:1em; line-height:1.2em}
#ContactForm textarea {width:315px; height:235px; border:1px solid #bfbfbf; background:none; padding:5px 0 0 5px; overflow:auto; font-size:1em;}

#TeachingForm {padding-top:20px;}
#TeachingForm .link {margin:23px 5px 0 20px;}
#TeachingForm label {height:34px; display:block;}
#TeachingForm .input {width:310px; border:1px solid #bfbfbf; background:none; padding:3px 0 3px 5px; font-size:1em; line-height:1.2em}
#TeachingForm textarea {width:310px; height:179px; border:1px solid #bfbfbf; background:none; padding:5px 0 0 5px; overflow:auto; font-size:1em;}
#TeachingForm input[type='text'], textarea { -moz-border-radius:3px 3px 3px 3px; }
#TeachingForm input[type='text']:focus, textarea:focus { -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5); border-color: rgba(82, 168, 236, 0.75) !important; }
#TeachingForm .radios { padding-bottom: 10px;}
#TeachingForm .radios label { display:inline;}

#DemoForm {padding-top:20px; margin:0 auto; width:370px;}
#DemoForm .link {margin:23px 5px 0 20px;}
#DemoForm label {height:34px; display:block;}
#DemoForm .input {width:100%; border:1px solid #bfbfbf; background:none; padding:3px 0 3px 5px; font-size:1em; line-height:1.2em}
#DemoForm textarea {width:100%; height:187px; border:1px solid #bfbfbf; background:none; padding:5px 0 0 5px; overflow:auto; font-size:1em;}

#i-Default .col-pad, #i-1C-Default .col-pad {padding-right:32px;}

#i-Contacts .row .inner { min-height:245px; height:auto !important; height:245px;}
#i-Contacts .row .indent { margin-left:30px;}

#i-AboutUs .wrapper {overflow:hidden; width:100%; margin:0 0 40px 0;}
#i-AboutUs .wrapper .col-1, #i-AboutUs .wrapper .col-2, #i-AboutUs .wrapper .col-3 {float:left; margin-right:40px; width:215px;}
#i-AboutUs .wrapper .col-4 {float:left; width:215px;}
#i-AboutUs .wrapper .col-1 h4 {color:#00A7C5;}
#i-AboutUs .wrapper .col-2 h4 {color:#B9166E;}
#i-AboutUs .wrapper .col-3 h4 {color:#EF870D;}
#i-AboutUs .wrapper .col-4 h4 {color:#97C50C;}
#i-AboutUs .row .indent {padding:34px 0 0 8px;}

#i-Sitemap .wrapper {overflow:hidden; width:100%; margin:10px 0 50px 15px;}
#i-Sitemap .wrapper .col-1, #i-Sitemap .wrapper .col-2, #i-Sitemap .wrapper .col-3, #i-Sitemap .wrapper .col-4 {float:left; margin-right:30px; width:215px;}
#i-Sitemap .wrapper .col-1 h4 {color:#00A7C5;}
#i-Sitemap .wrapper .col-2 h4 {color:#B9166E;}
#i-Sitemap .wrapper .col-3 h4 {color:#EF870D;}
#i-Sitemap .wrapper .col-4 h4 {color:#97C50C;}

.relative {position:relative;}
.absolute {position:absolute;}

#i-1C-Default #default { background:url(../images/1C-Default.png) no-repeat 0 0;}
#i-1C-Default #managers { margin-top:45px; color:#705600;}
#i-1C-Default #icq { padding-left:133px;}
#i-1C-Default #email { padding-left:250px;}
#i-1C-Default #phone { padding-left:203px;}
#i-1C-Default .wrapper {overflow:hidden; width:100%; padding:97px 0 55px;}
#i-1C-Default .wrapper ul.group-1 {float:left; padding-left:37px;}
#i-1C-Default .wrapper ul.group-2 {float:left; padding-left:88px;}
#i-1C-Default .wrapper ul.group-3 {float:left; padding-left:117px;}
#i-1C-Default .wrapper li {background:url(../images/marker.gif.ashx) no-repeat scroll 0 -22px;}
#i-1C-Default .wrapper li a {color:#705600;}

#i-1C-ITS .wrapper {overflow:hidden; width:100%; margin:45px 0 45px 15px;}
#i-1C-ITS .wrapper .col-1, #i-1C-ITS .wrapper .col-2, #i-1C-ITS .wrapper .col-3 {float:left; margin-right:32px; width:295px;}
#i-1C-ITS .wrapper .col-1 h4 {color:#00A7C5;}
#i-1C-ITS .wrapper .col-2 h4 {color:#EF870D;}
#i-1C-ITS .wrapper .col-3 h4 {color:#B9166E;}

#i-Solutions div.tab li a span span {padding:15px 0;}

#i-Teaching div#Question {background:url(../images/Question.png.ashx) no-repeat scroll 50% 50% transparent; background-size:25%; padding-bottom: 40px;}
#i-WebDevelopment div#Exclamation {background:url(../images/Exclamation.png.ashx) no-repeat scroll 49% 50% transparent; background-size:25%; padding-bottom: 40px;}

.wrapper h4
{
	font-size:20px;
	line-height:1.2em;
	margin-bottom:4px;
	padding:0;
	font-family:Arial,Helvetica,sans-serif;
}
.wrapper h4 strong 
{
	color:#A5A5A5;
	display:block;
	font-size:9px;
	margin-top:-6px;
	font-family:sans-serif;
}
.wrapper .img-box img {
	display:block;
	margin-bottom:15px;
}
.wrapper .img-box p {height:85px; padding-top:0;}
.wrapper .img-box div {text-align:right;}

div.UnderConstruction
{
	background:url(../images/Under-Construction.jpg.ashx) no-repeat scroll 100px 25px;
	color:Red;
	font-weight:bold;
	height:400px;
	width:600px;
	margin:0 auto;
	text-align:center;
}
div.excel-type-item {
	background:url(../images/Office.gif.ashx) no-repeat scroll 0 0 transparent;
	height:25px;
	padding:4px 0 0 35px;
	margin:65px 0;
}
div.Weather
{
	background: transparent url(http://info.weather.yandex.net/informer/200x100/29947.png) no-repeat scroll -16px 0;
	height:69px;
	width:175px;
	margin:10px 0 0;
}
div.cert { background:url(../images/tooltip-bg.gif.ashx) repeat-x scroll 0 0 #ffffee; padding:10px 15px 15px;}
div.cert span {	color: #9EC002;	font-size:1.85em; line-height:1.2em; }
div.cert b { color: #000; }
div.cert strong { display:block; font-size:1.12em; margin:15px 0; color:Black; }
div.cert li { background:url(../images/bg-notes-green.png.ashx) 0 7px no-repeat; color:Black;}

div.map { background:#fff; border: 1px solid #9EC002; padding:10px 15px 15px; }
div.dep { margin-right: 22px; float:left; width:295px; }
div.dep span { display:block; margin-bottom: 20px;}

div.b-form {margin: 50px 30px 0 30px;position:relative}
div.b-form div.tl { background: transparent url($AX$Login.sh-tl.gif.ashx) no-repeat scroll 0 0; }
div.b-form div.tr { background: transparent url($AX$Login.sh-tr.gif.ashx) no-repeat scroll right top; }
div.b-form div.bl { background: transparent url($AX$Login.sh-bl.gif.ashx) no-repeat scroll left bottom; }
div.b-form div.br { background: transparent url($AX$Login.sh-br.gif.ashx) no-repeat scroll right bottom; padding:0 17px 22px;}
div.b-form div.body { background:transparent url($AX$Login.bg.jpg.ashx) no-repeat scroll -209px -1px; width: 100%; }
div.b-form div.content { text-align: center; padding: 45px 20px 20px 20px; border: 1px solid #63b3d5; }
div.b-form h1 { color:#63b3d5; display:inline; font-size: 20px; font-weight: normal; }
div.b-form p { line-height:21px }
div.b-form label { color: #666666; font-weight: bold; font-family: Arial, Helvetica, sans-serif; line-height:30px; }
div.b-form .input { color: #63b3d5; font-family: Arial, Helvetica, sans-serif; font-size: 150%; width: 60%; }
div.b-form .Command { color: #63b3d5; font-family: Arial, Helvetica, sans-serif; font-size: 120%; padding: 3px 7px 3px 7px; margin-top:15px; }

div.error
{
	background: transparent url(../images/attention.png.ashx) no-repeat scroll 0 3px;
	color: Red;
	text-align: justify;
	margin:10px 0;
	padding:1px 25px;
	font-size:11pt;
	font-weight:normal;
	line-height:21px;
}
div.comment, div.highlight {
	background:url("../images/tooltip-bg.gif.ashx") repeat-x scroll 0 0 #FFFFF2;
	border-width:1px;
	border-color:#888888;
	line-height:18px;
	padding:20px 25px;
}
div.highlight {	background:#FFFFF2 url("../images/highlight-bg.gif.ashx");}
.news a { text-decoration:none; }

center.banner {margin:0 0 57px;}

/* Dialogs */
div.RadWindow .rwControlButtons li {background:none repeat scroll 0 0 #ffffee;}
div.RadWindow .rwDialogText {line-height:29px; margin-bottom:8px;}
div.RadWindow_Vista .rwWindowContent .radalert {background-image:url(../images/i.jpg.ashx);}
div.RadWindow .rwWindowContent .radalert div.rwDialogText {margin-left:0;}
div.RadWindow .rwWindowContent .radalert div {margin-left:45px;}

#i-Exam-Results div.RadWindow .rwWindowContent .radalert div {margin-left:113px;}

/* Wizard */
.wizard-container
{
	background-color:#E6E1C7;
	border:1px solid #B3AC86;
	display:inline-block;
	padding:8px 8px 15px 8px;
	-moz-border-radius:10px;
}
.wizard 
{
}
.wizard input.button {font-size:13px; padding:1px;}
.wizard .wizard-tabs 
{
	background: url('../images/wizard-menu-bg.gif.ashx') repeat-y scroll right 0 transparent;
}
.wizard .wizard-tabs div 
{
	margin-top:50px;
}
.wizard .wizard-tabs li
{
	border-style:none;
    background:none;
    padding:0;
}
.wizard .wizard-tabs li.active
{
	border:1px solid #B3AC86;
	border-right-style:none;
	background-color:#FCFAEB;
    -moz-border-radius:5px 0 0 5px;
}
.wizard .wizard-tabs li a, .wizard .wizard-tabs li.disabled a
{
    padding:8px 9px 8px 9px;
    display:block;
    text-decoration:none;
    color:#715E25;
    text-align:left;
}
.wizard .wizard-tabs li.active a
{
    padding:7px 9px 7px 8px;
    color:#715E25;
}
.wizard .wizard-tabs li.disabled a
{
    color:#bebebe;
}
.wizard .wizard-pages 
{
	width:600px;
	height:505px; 
	border:1px solid #B3AC86;
	border-left-style:none;
	background-color:#FCFAEB;
	padding:5px 10px;
}
.wizard .wizard-pages h2
{
	text-align:center;
	padding:20px 0 7px;
	color:#715E25;
}
.wizard .wizard-pages strong
{
	margin-bottom:24px;
	text-align:center;
	display:block;
	color:#715E25;
}
.wizard .wizard-buttons 
{
    padding:28px 10px;
    text-align:right;
}
.wizard .wizard-buttons input
{
	margin-left:10px;
    padding:4px 30px;
    //padding:4px 20px;
}
.wizard .wizard-buttons input.wizard-ok
{
	margin-left:30px;
}

/* FAQ */
.faq-category-pad
{
	padding-top:50px;
}
.faq-item-pad
{
	padding-top:5px;
}
.faq-item
{
	text-align:justify;
	line-height:22px;
	padding-left:6px;
}
a.faq-question
{
	background:url('../images/faq-li-bg.gif.ashx') no-repeat scroll 0 6px transparent;
	color:#0D68D2;
	padding-left:20px;
	text-decoration:none;
}
.faq-answer
{
	padding:16px 0;
}

/* ConfigurationPanel */
.cfgPanel { padding:0 0 1.4em; }
.cfgVertical { min-width: 260px; }
.cfgHead {
    background:url('../images/blueDots.gif.ashx') repeat-x 0 center;
    color:#0C94A3;
    display:block;
    font-size:14px;
    line-height:22px;
    outline:medium none;
    text-decoration:none;
}
.cfgClear{display:inline-block}
.cfgClear{display:block}
.cfgClear:after{content:"";display:block;clear:both;height:0;visibility:hidden}

.cfgTitle {
    background-color:#FFFFFF;
    float:left;
    padding:0 8px 0 1px;
}
.cfgButton {
    background:#FFFFFF url('../images/sprite09.gif.ashx') no-repeat 0 0;
    float:right;
    height:18px;
    padding:0 0 0 6px;
    width:18px;
}
.cfgUp { background-position:-594px -550px; }
.cfgDown { background-position:-594px -600px; }
.cfgContent {
    background:url('../images/blueDots.gif.ashx') repeat-x 0 100%;
    margin:0 22px 0 0;
    padding:1.2em 0 1.8em;
    display:block;
}

div.brown .cfgPanel { padding:0; }
div.brown .cfgHead { background:url('../images/brownDots.gif.ashx') repeat-x 0 center; color:#FFF; line-height: 21px; font-size:100%; font-weight:bold;}
div.brown .cfgTitle { padding:0 8px; background-color:#F58E09; border: 1px solid #EE9623; box-shadow: 0 0 8px rgba(82, 68, 36, 0.5); }
div.brown .cfgContent { background-image:none; padding:1.2em 0 0;}
div.brown .cfgUp { background-position: -594px -650px; }
div.brown .cfgDown { background-position:-594px -700px; }
